@charset "UTF-8";
#cart-mini-wanda .table-total tr td .btn {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }

#modal-subscribe .modal-wp-ct form .btn {
  border-radius: 0;
  display: inline-block;
  text-transform: uppercase;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  -moz-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  border: none;
  text-align: center;
  letter-spacing: .3em;
  font-weight: 600;
  position: absolute;
  background-color: #3a1f09;
  color: #fff;
  font-size: 12px;
  letter-spacing: .2em;
  line-height: 18px;
  top: 0;
  right: 0;
  height: 100%;
  box-shadow: none;
  white-space: nowrap;
  transition: .3s;
  padding: 0 20px; }

/** Quick view **/
#pro-qv-wanda .product-galerry {
  position: relative; }

#pro-qv-wanda #product-thumb:not(.owl-loaded) {
  margin-right: -10px; }
  #pro-qv-wanda #product-thumb:not(.owl-loaded) .product-item-thumb {
    flex: 0 0 25%;
    padding-right: 10px; }

#pro-qv-wanda #product-thumb .product-item-thumb.active .item-thumb {
  border: 1px solid #333; }

#pro-qv-wanda #product-thumb .product-item-thumb .item-thumb {
  display: block; }

#pro-qv-wanda #product-detail-qv .product-title h2 {
  font-size: 20px;
  margin-bottom: 5px; }

#pro-qv-wanda #product-detail-qv .product-title #pro_sku_qv {
  font-size: 13px;
  margin-bottom: 10px;
  display: inline-block; }

#pro-qv-wanda #product-detail-qv .product-title .pro-status {
  color: var(--colorshophover); }

#pro-qv-wanda #product-detail-qv .product-price {
  margin-bottom: 10px; }
  #pro-qv-wanda #product-detail-qv .product-price span {
    color: #ff0000;
    font-weight: 600;
    font-size: 16px; }
  #pro-qv-wanda #product-detail-qv .product-price del {
    color: #707070;
    font-weight: 600;
    font-size: 15px;
    margin-left: 10px; }

#success-cart-wanda, #success-subcribe-wanda {
  max-width: 400px; }

.modal-succes .modal-body .modal-title {
  font-size: 18px;
  font-weight: 600;
  margin: 0; }

.modal-succes .modal-body p:not(.modal-title) {
  font-size: 15px;
  margin: 10px 0 5px; }

.modal-succes .modal-body .txtloading {
  color: #aaa;
  font-size: 13.5px; }

@keyframes rotatePlaceholder {
  0% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  5% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  12% {
    -webkit-transform: rotate(-405deg);
    -moz-transform: rotate(-405deg);
    -o-transform: rotate(-405deg);
    transform: rotate(-405deg); }
  100% {
    -webkit-transform: rotate(-405deg);
    -moz-transform: rotate(-405deg);
    -o-transform: rotate(-405deg);
    transform: rotate(-405deg); } }

@keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 1px;
    top: 19px; }
  54% {
    width: 0;
    left: 1px;
    top: 19px; }
  70% {
    width: 50px;
    left: -8px;
    top: 37px; }
  84% {
    width: 17px;
    left: 21px;
    top: 48px; }
  100% {
    width: 25px;
    left: 14px;
    top: 45px; } }

@keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 46px;
    top: 54px; }
  65% {
    width: 0;
    right: 46px;
    top: 54px; }
  84% {
    width: 55px;
    right: 0px;
    top: 35px; }
  100% {
    width: 47px;
    right: 8px;
    top: 38px; } }

.modal-icon.sweet-alert {
  padding-top: 0;
  margin-top: -15px; }

.animateSuccessTip {
  animation: animateSuccessTip 0.75s; }

.animateSuccessLong {
  animation: animateSuccessLong 0.75s; }

.sa-icon.sa-success.animate::after {
  animation: rotatePlaceholder 4.25s ease-in; }

.sweet-alert .sa-icon.sa-success {
  width: 80px;
  height: 80px;
  border: 4px solid #4cae4c;
  border-radius: 50%;
  margin: 0 auto 0;
  position: relative;
  box-sizing: content-box;
  transform: scale(0.7); }

.sweet-alert .sa-icon.sa-success::before, .sweet-alert .sa-icon.sa-success::after {
  content: '';
  border-radius: 50%;
  position: absolute;
  width: 60px;
  height: 120px;
  background: #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.sweet-alert .sa-icon.sa-success::before {
  border-radius: 120px 0 0 120px;
  top: -7px;
  left: -33px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 60px 60px;
  -moz-transform-origin: 60px 60px;
  -o-transform-origin: 60px 60px;
  transform-origin: 60px 60px; }

.sweet-alert .sa-icon.sa-success::after {
  border-radius: 0 120px 120px 0;
  top: -11px;
  left: 30px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0px 60px;
  -moz-transform-origin: 0px 60px;
  -o-transform-origin: 0px 60px;
  transform-origin: 0px 60px; }

.sweet-alert .sa-icon.sa-success .sa-placeholder {
  width: 80px;
  height: 80px;
  border: 4px solid rgba(92, 184, 92, 0.2);
  border-radius: 50%;
  box-sizing: content-box;
  position: absolute;
  left: -4px;
  top: -4px;
  z-index: 2; }

.sweet-alert .sa-icon.sa-success .sa-fix {
  width: 5px;
  height: 90px;
  background-color: #fff;
  position: absolute;
  left: 28px;
  top: 8px;
  z-index: 1;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.sweet-alert .sa-icon.sa-success .sa-line {
  height: 5px;
  background-color: #5cb85c;
  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 2; }

.sweet-alert .sa-icon.sa-success .sa-line.sa-tip {
  width: 25px;
  left: 14px;
  top: 46px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.sweet-alert .sa-icon.sa-success .sa-line.sa-long {
  width: 47px;
  right: 8px;
  top: 38px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.modal-body {
  position: relative; }

.media-success {
  display: flex;
  justify-content: center;
  align-items: flex-start; }
  .media-success .media-left {
    margin-right: 10px;
    position: relative; }
    .media-success .media-left img {
      max-width: 50px; }
    .media-success .media-left .quantity {
      position: absolute;
      width: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      border-radius: 50%;
      background: var(--bgshop);
      color: #fff;
      font-size: 12px;
      top: -8px;
      left: -7px; }
  .media-success .media-body .product-title {
    margin-bottom: 10px;
    text-align: left; }
  .media-success .media-body .product-new-price span {
    color: #ff0000; }

#success-cart-wanda .modal-title {
  font-size: 15px; }

/* Cart mini */
#cart-mini-wanda {
  max-width: 500px; }
  #cart-mini-wanda .cart-scroll {
    overflow-y: auto;
    max-height: 500px; }
    @media (max-width: 767px) {
      #cart-mini-wanda .cart-scroll {
        max-height: 300px; } }
    #cart-mini-wanda .cart-scroll::-webkit-scrollbar {
      width: 5px;
      background-color: #8b8b8b; }
    #cart-mini-wanda .cart-scroll::-webkit-scrollbar-thumb {
      background-color: #000000;
      border: none; }
  #cart-mini-wanda .modal-header {
    letter-spacing: 0.8px;
    color: #252a2b;
    font-size: 20px;
    text-transform: uppercase;
    margin: 0;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #e3e5ec;
    text-align: center; }
  #cart-mini-wanda #cart-view tr td {
    border-top: none;
    border-bottom: 1px dotted #ddd; }
    #cart-mini-wanda #cart-view tr td.img {
      width: 90px; }
    #cart-mini-wanda #cart-view tr td.item {
      padding: 10px 0;
      position: relative;
      padding-right: 25px;
      width: calc(100% - 90px); }
      #cart-mini-wanda #cart-view tr td.item .pro-title-view {
        float: left;
        width: 100%;
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase; }
      #cart-mini-wanda #cart-view tr td.item .variant {
        font-size: 12px;
        float: left;
        width: 100%;
        margin: 5px 0 12px;
        opacity: 0.8;
        text-transform: uppercase; }
      #cart-mini-wanda #cart-view tr td.item .pro-price-view {
        display: block;
        text-align: center;
        float: left;
        line-height: 26px;
        font-weight: 500;
        opacity: 1;
        color: #ff0000;
        margin-top: 4px;
        margin-left: 10px; }
      #cart-mini-wanda #cart-view tr td.item .remove-cart {
        position: absolute;
        right: 0;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        font-size: 17px;
        top: 10px; }
  #cart-mini-wanda #cart-view tr:last-child td {
    border: none; }
  #cart-mini-wanda .cart-view .line {
    float: left;
    width: 100%;
    border-top: 1px solid #e3e5ec;
    margin: 0; }
  #cart-mini-wanda .table-total tr td {
    border: none; }
    #cart-mini-wanda .table-total tr td.title-total {
      font-weight: 600;
      font-size: 16px; }
    #cart-mini-wanda .table-total tr td#total-view-cart {
      color: #ff0000;
      font-weight: 600;
      font-size: 18px; }
    #cart-mini-wanda .table-total tr td .btn {
      padding: 15px 10px;
      position: relative;
      width: 100%;
      margin-bottom: 0;
      display: inline-block;
      line-height: normal;
      border: 1px solid #ffffff;
      border-radius: 0;
      text-transform: uppercase;
      font-size: 12px;
      text-align: center;
      letter-spacing: 1px;
      background-color: transparent;
      z-index: 1;
      font-weight: bold;
      overflow: hidden; }
      #cart-mini-wanda .table-total tr td .btn.wanda-cart-url {
        background: #3a1f09;
        color: #fff;
        border-color: #3a1f09; }
        #cart-mini-wanda .table-total tr td .btn.wanda-cart-url:hover {
          background: #fff;
          color: #3a1f09;
          border-color: #3a1f09; }
      #cart-mini-wanda .table-total tr td .btn.wanda-checkout-url {
        background: #fff;
        color: #3a1f09;
        border-color: #3a1f09; }
        #cart-mini-wanda .table-total tr td .btn.wanda-checkout-url:hover {
          background: #3a1f09;
          color: #fff;
          border-color: #3a1f09; }

/* smart search*/
.results-seach {
  background: #fff;
  width: 100%;
  display: none;
  margin-top: 15px;
  position: relative;
  z-index: 999999; }
  .results-seach .item-ult {
    display: flex;
    margin-bottom: 5px;
    padding: 0; }
    .results-seach .item-ult a {
      padding: 0; }
    .results-seach .item-ult .thumbs {
      width: 50px;
      flex: 0 0 50px;
      padding-right: 10px; }
      .results-seach .item-ult .thumbs img {
        width: 100% !important;
        height: 100% !important;
        object-fit: contain; }
    .results-seach .item-ult .title {
      width: calc(100% - 50px);
      text-align: left; }
      .results-seach .item-ult .title > a {
        overflow: hidden;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        font-size: 13px; }
      .results-seach .item-ult .title > p {
        margin: 0;
        color: #ff0000; }
        .results-seach .item-ult .title > p > del {
          color: #666;
          margin-left: 10px; }
        .results-seach .item-ult .title > p > del[data-price="0₫"] {
          display: none; }
      .results-seach .item-ult .title:hover > a {
        text-decoration: underline; }
  .results-seach .view-more-search {
    display: block;
    text-align: center;
    padding: 5px;
    background: #3a1f09;
    color: #fff !important;
    margin-top: 15px; }

@keyframes show-modal {
  0% {
    transform: scale(0); }
  60% {
    transform: scale(1.1); }
  80% {
    transform: scale(0.95); }
  100% {
    transform: scale(1); } }

#modal-error {
  max-width: 320px;
  height: 210px;
  animation: show-modal .7s ease-in-out;
  text-align: center; }
  #modal-error .title {
    display: block;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    margin: 14px 0 5px 0; }
  #modal-error p {
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;
    margin: 0;
    padding: 0 30px; }
  #modal-error > img {
    margin-top: 24px; }

#modal-subscribe {
  background: var(--bgsubcribe);
  background-size: 100%;
  padding: 0;
  max-width: 600px; }
  #modal-subscribe .modal-wp-ct {
    position: relative;
    padding: 50px 15px;
    float: right;
    background: rgba(255, 255, 255, 0.6);
    max-width: 55%; }
    @media (max-width: 767px) {
      #modal-subscribe .modal-wp-ct {
        max-width: 100%;
        width: 100%; } }
    #modal-subscribe .modal-wp-ct .tt-md-ct {
      font-size: 24px;
      margin: 0px 0px 10px;
      font-weight: 500; }
    #modal-subscribe .modal-wp-ct .content-md-ct {
      font-size: 14px;
      margin-bottom: 5px; }
    #modal-subscribe .modal-wp-ct .list-md-contact {
      list-style: initial;
      padding-left: 15px; }
    #modal-subscribe .modal-wp-ct form {
      margin-top: 30px;
      background-color: #fff;
      height: 45px;
      line-height: 45px;
      border: none;
      width: 100%;
      max-width: 100%;
      position: relative; }
      #modal-subscribe .modal-wp-ct form input {
        border: none;
        width: 100%;
        padding: 0 100px 0 10px; }

#success-subcribe-wanda .modal-title {
  font-size: 17px; }

.suggest-notify {
  max-width: 320px;
  position: fixed;
  top: auto;
  background-color: #fff;
  transition: all .25s ease;
  -moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  left: 10px;
  bottom: 15px;
  width: 100%;
  z-index: 999; }
  .suggest-notify .item {
    border: 0;
    text-align: left;
    box-sizing: border-box;
    font-weight: 400;
    border-radius: 6px;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    padding: 5px; }
    .suggest-notify .item img {
      height: 60px;
      width: 60px;
      overflow: hidden;
      object-fit: cover; }
    .suggest-notify .item .content {
      margin: 0;
      height: 100%;
      color: #808080;
      padding: 0 10px;
      border-radius: 0 6px 6px 0;
      flex: 1;
      display: flex !important;
      flex-direction: column;
      justify-content: center;
      overflow: hidden; }
      .suggest-notify .item .content small {
        display: block;
        font-size: 12px;
        opacity: .8; }
      .suggest-notify .item .content p {
        margin: 0;
        font-size: 12px; }
        .suggest-notify .item .content p b {
          font-size: 13px; }
    .suggest-notify .item .close-notify {
      position: absolute;
      top: 8px;
      right: 8px;
      height: 12px;
      width: 12px;
      cursor: pointer;
      transition: .2s ease-in-out;
      transform: rotate(45deg);
      opacity: 1; }
      .suggest-notify .item .close-notify:before {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: gray;
        position: absolute;
        left: 0;
        top: 5px; }
      .suggest-notify .item .close-notify:after {
        content: "";
        display: block;
        height: 100%;
        width: 2px;
        background-color: gray;
        position: absolute;
        left: 5px;
        top: 0; }

.anislideInDown {
  -webkit-animation-name: anislideOutDown;
  animation-name: anislideOutDown; }

.anislideInUp {
  -webkit-animation-name: anislideInUp;
  animation-name: anislideInUp; }

@keyframes anislideOutDown {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1; }
  to {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
    opacity: 0; } }

@keyframes anislideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
    opacity: 0; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1; } }

.slick-callback .slick-arrow, #slider-thumb .slick-arrow {
  z-index: 9;
  opacity: 0;
  transition: opacity .3s;
  width: 47px;
  height: 47px;
  position: absolute;
  display: block;
  top: 50%;
  transform: translatey(-50%);
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  border: none;
  outline: none; }
  .slick-callback .slick-arrow.slick-next, #slider-thumb .slick-arrow.slick-next {
    right: -55px; }
  .slick-callback .slick-arrow.slick-prev, #slider-thumb .slick-arrow.slick-prev {
    left: -40px; }
  .slick-callback .slick-arrow .arrow-custom, #slider-thumb .slick-arrow .arrow-custom {
    cursor: pointer;
    position: absolute;
    transition: transform 0.1s;
    width: 60px;
    transform: translateX(0) translateY(0);
    top: 0; }
    .slick-callback .slick-arrow .arrow-custom.arrow-left, #slider-thumb .slick-arrow .arrow-custom.arrow-left {
      left: 30px;
      bottom: 0; }
    .slick-callback .slick-arrow .arrow-custom.arrow-left .arrow-top, #slider-thumb .slick-arrow .arrow-custom.arrow-left .arrow-top {
      transform: rotate(-60deg);
      transform-origin: bottom left; }
    .slick-callback .slick-arrow .arrow-custom.arrow-left .arrow-bottom, #slider-thumb .slick-arrow .arrow-custom.arrow-left .arrow-bottom {
      transform: rotate(60deg);
      transform-origin: top left; }
    .slick-callback .slick-arrow .arrow-custom .arrow-bottom, .slick-callback .slick-arrow .arrow-custom .arrow-top, #slider-thumb .slick-arrow .arrow-custom .arrow-bottom, #slider-thumb .slick-arrow .arrow-custom .arrow-top {
      background-color: #71716F;
      height: 3px;
      left: 0;
      position: absolute;
      top: 50%;
      width: 42%; }

.slick-callback .arrow-left .arrow-top:after, .slick-callback .arrow-right .arrow-bottom:after, #slider-thumb .arrow-left .arrow-top:after, #slider-thumb .arrow-right .arrow-bottom:after {
  transition-delay: 0.15s; }

.slick-callback .arrow-top:after, #slider-thumb .arrow-top:after {
  left: 100%;
  right: 0; }

.slick-callback .arrow-bottom:after, .slick-callback .arrow-top:after, #slider-thumb .arrow-bottom:after, #slider-thumb .arrow-top:after {
  background-color: var(--colorshophover);
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
  transition: left 0.15s, right 0.15s; }

.slick-callback:hover .slick-arrow, #slider-thumb:hover .slick-arrow {
  opacity: 1;
  visibility: visible; }

.slick-callback .arrow-left.arrow-custom:hover .arrow-top:after, .slick-callback .arrow-right.arrow-custom:hover .arrow-bottom:after, #slider-thumb .arrow-left.arrow-custom:hover .arrow-top:after, #slider-thumb .arrow-right.arrow-custom:hover .arrow-bottom:after {
  transition-delay: 0s; }

.slick-callback .arrow-left.arrow-custom:hover .arrow-bottom:after, #slider-thumb .arrow-left.arrow-custom:hover .arrow-bottom:after {
  transition-delay: 0.15s; }

.slick-callback .arrow-custom:hover .arrow-top:after, #slider-thumb .arrow-custom:hover .arrow-top:after {
  left: 0; }

.slick-callback .arrow-custom:hover .arrow-bottom:after, #slider-thumb .arrow-custom:hover .arrow-bottom:after {
  right: 0; }

.slick-callback .arrow-bottom:after, #slider-thumb .arrow-bottom:after {
  left: 0;
  right: 100%; }

.slick-callback .arrow-right, #slider-thumb .arrow-right {
  bottom: 0;
  right: -5px; }

.slick-callback .arrow-right .arrow-top, #slider-thumb .arrow-right .arrow-top {
  transform: rotate(60deg);
  transform-origin: bottom right; }

.slick-callback .arrow-right .arrow-top:after, #slider-thumb .arrow-right .arrow-top:after {
  transition-delay: 0s; }

.slick-callback .arrow-right .arrow-bottom, #slider-thumb .arrow-right .arrow-bottom {
  transform: rotate(-60deg);
  transform-origin: top right; }

.slick-callback .arrow-right.arrow-custom:hover .arrow-top:after, #slider-thumb .arrow-right.arrow-custom:hover .arrow-top:after {
  transition-delay: 0.15s; }

.slick-callback .slick-dots, #slider-thumb .slick-dots {
  position: absolute;
  font-size: 0;
  margin-top: 20px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-callback .slick-dots li, #slider-thumb .slick-dots li {
    height: auto;
    width: auto;
    position: relative;
    display: inline-block;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-callback .slick-dots li button, #slider-thumb .slick-dots li button {
      -webkit-transition: all .2s linear;
      -moz-transition: all .2s linear;
      -o-transition: all .2s linear;
      transition: all .2s linear;
      border-radius: 100%;
      width: 10px;
      height: 10px;
      border: 1px solid var(--colorshophover);
      background: transparent;
      padding: 0;
      outline: none;
      line-height: 0px;
      font-size: 0px; }
    .slick-callback .slick-dots li.slick-active button, #slider-thumb .slick-dots li.slick-active button {
      background-color: var(--colorshophover); }